<appSettings>
  <add key="MSSQLConnection" value="Data Source=192.168.0.92;Initial Catalog=OfficeManagement;User Id=develop;Password=abc@123;Max Pool Size=1000; Connect Timeout=72000;Pooling=true;"/>
  <!--Config for Cache-->
  <add key="UseCache" value="False"/>
  <add key="CacheFormatGenerate" value="-{0}_{1}"/>
  <add key="CacheFormatGenerateOutputParam" value="{0}|Ouput-{1}"/>
  <add key="IgnoreNotify" value="GenerateCommon|"/>
  <!-- Page Size -->
  <add key="pageSize" value="30"/>
  <add key="EnableOptimizations" value="false"/>
  <add key="keySHA" value="dispatch_QZfLuH5ubY"/>
  <add key="ImageCate" value="/Uploads/Category"/>
  <add key="Extensions" value="/Extensions/Category/"/>
  <add key="AvatarPath" value="/Uploads/AvatarEmployee/"/>
  <add key="FileDispatchIn" value="/Upload/File/DispatchIn/"/>
  <add key="FileDispatchOut" value="/Upload/File/DispatchOut/"/>
  <add key="ProductImage" value="/Uploads/Products/"/>
  <add key="tempPath" value="/Uploads/somefiles"/>
  <add key="ImagesPath" value="/Uploads/Images"/>
</appSettings>
