@using MvcPaging
@using DispatchManagement.Code
@model IPagedList<Dispatch.DispatchTypeEntity>
@{
    ViewBag.Title = "Danh sách tình trạng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>@ViewBag.Title</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            @Html.ActionLink("Thêm tình trạng", "CreateDispatchType", null, new { @id = "createNew" })
                        </li>
                        <li>
                            <a href="#">Export excel</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="form-inline">
                <div class="form-group">
                    <label class="control-label" for="SearchString">Tìm theo tên tình trạng:</label>
                    <input id="searchString" name="searchString" type="text" value="@ViewBag.Keyword" style="width: 300px" class="form-control" />
                </div>
              
                <div class="form-group">
                    <input type="button" value="Search" id="btnSearch" class="btn btn-default" style="margin-bottom: 0" />
                </div>
            </div>
            <hr />
            <div id="DispatchTypeList">
                @Html.Partial("_DispatchTypeList", Model)
            </div>
        </div>
    </div>
</div>

