@model List<Dispatch.DispatchTypeEntity>
@{
    Layout = null;
}


    @foreach (var item in Model)
    {
        
        <li>
            <a href="@Url.RouteUrl( new { controller = "DispatchOut", action = "Index", Type = item.Id })">

                @Html.Raw(item.Name)
                @*@Html.Action("_countOut", new DispatchManagement.Models.CountList { searchType = @item.Id, searchStatus = 0, DepartmentId = 0 })*@
                <span class="badge bg-green ShowCountOutType_@item.Id" ></span>
            </a>
        </li>
    }

