
@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page content -->
<div class="col-md-12">
    <div class="col-middle">
        <div class="text-center text-center">
            <h1 class="error-number">403</h1>
            <h2>Oop! Access Denied</h2>
            <p>
                Bạn không có quyền truy cập vào đây. Vui lòng liên hệ với người quản trị!
            </p>
            <p>Click <a href="/Dashboard"><strong>vào đây</strong></a> để quay lại trang chủ</p>
        </div>
    </div>
</div>
<!-- /page content -->
